.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .fira-sans-extralight {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .fira-sans-light {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .fira-sans-extrabold {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .fira-sans-black {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .fira-sans-thin-italic {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .fira-sans-extralight-italic {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .fira-sans-light-italic {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .fira-sans-regular-italic {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .fira-sans-medium-italic {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .fira-sans-semibold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .fira-sans-bold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .fira-sans-extrabold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .fira-sans-black-italic {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: italic;
  }
  


/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
nav ul li{
    list-style: none;
}
.sign-in{
      border-color: #006A50;
      background-color: white;
      color: #006A50;
      border-radius: 5px;
}
/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 24px;
    
    

}
.banner-intro{
    color: rgba(14, 14, 14, 50%);
    
    
}
    
.banner-content{
    max-width: 622px;

}
.front{
    background-color: #C6E4D6;
    padding: 22px;
    border-radius: 10px;

}
.banner-heading{
    font-weight: bold;
    font-size: 52px;
    
}
.btn-title{
    background-color: #006A50;
    color: white;
    font-weight: 600;
    padding: 18px;
    border-radius: 5px;

}
/* idea section styles */
.idea-container{
    
    display: flex;
    gap: 24px;
    
    background-color: white;
    


}
.idea-2{
    
     border-style: ridge;
      border-radius: 10px;
      padding: 12px;
      

}
.title{
    font-weight: bold;
    
    font-size: 52px;
}
.idea-title{
   
    font-weight: bold;
    font-size: 20px;
}
.idea-description{
    font-size: 22px;
    color: rgba(14, 14, 14, 70%);
}
/* vision styles */

.vision-container{
    display: flex;
    
    gap: 24px;
}
.vision-heading{
    font-weight: bold;
    font-size: 42px;
    

}
.vision-explanation{
    pad: 32px;
    font-size: 18px;
    color: rgba(14, 14, 14, 70%);
    text-align: top left;
}
.headlines-1{
    
        
    background-color: rgba(84, 144, 245, 30%);
    padding: 24px;
   
    border-radius: 10px;
}
.headlines-2{
    background-color: rgba(198, 228, 214, 100%);
    padding: 24px;
    
    border-radius: 10px;
}
.headlines-3{
    background-color: rgba(247, 235, 207, 100%);
    padding: 24px;
   
    border-radius: 10px;
}
.headlines-title{
    padding: 24px auto;

}
.btn-option-1{
    background-color: #5490F5;
    color: white;
    
    border-radius: 5px;
    padding: 20px;
}
.btn-option-2{
    background-color: #09A15C;
    color: white;
    padding: 20px;
    border-radius: 5px;
}
.btn-option-3{
    background-color: #FFC239;
    color: white;
    padding: 20px;
    border-radius: 5px;
}
.headlines-title{
    font-weight: bold;
    font-size: 20px;
    
}
.headlines-description{
    font-size: 16px;
    color: rgba(14, 14, 14, 70%);
}
/* news styles design */
.news-container{
    display: flex;
    gap: 32px;
    padding: 48px;

}
nav ul {
       display: block;
       padding: 0%;
}
.image{
    border-radius: 10px;
}
.btn-here{
  background-color: #006A50;
  color: rgba(255, 255, 255, 74%);
  border-radius: 5px;
}
.news-container-heading{
  font-weight: bold;
  font-size: 32px;
}
.news-description{
  color: rgba(14, 14, 14, 70%);
}
.date-details{
  color: rgba(14, 14, 14, 70%);
}
.image-2{
  border-radius: 10px;
}
/* donation styles */
.donation{
  padding: 24px;
}
.donation-title{
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}
.donation-description{
  font-size: 16px;
  padding: 24px;
  line-height: 24px;
  color: rgba(14, 14, 14, 70%);
}
.amount{
  justify-content: space-around;
  margin: 32px;
  gap: 12px;
  display: inline;
  font-weight: bold;
  font-size: 40px;
  padding: 24px;
  border-radius: 10px;
  background-color: white;
}
.amount-1{
  border-radius: 10px;
  font-weight: bold;
  font-size: 40px;
  padding: 24px;
  gap: 12px;
  
  background-color: #C6E4D6;
}
.amount-2{
  border-radius: 10px;
  font-weight: bold;
  font-size: 40px;
  padding: 24px;
  gap: 12px;
  background-color: white;
}
input{
  padding: 24px;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  font-size: 20px;

}
.done-now{
  text-align: center;
  margin: 32px 0;
}
.done-now button{
  border-radius: 10px;
  background-color: #006A50;
  padding: 18px 36px;
  font-size: 18px;
  font-weight: 600;
  color: #FFFFFF;
  border: none;
  
  
}
.done-now button:hover {
  background-color: #5490F5;
  color: aquamarine;
}
.btn-option-1:hover {
  background-color: blue;
  color: aquamarine;
}
.btn-option-2:hover {
  background-color: blue;
  color: aquamarine;
}
.btn-option-3:hover {
  background-color: blue;
  color: aquamarine;
}
.btn-title:hover {
background-color: blue;
color: aquamarine;
}
.amount:hover {
  background-color: blue;
  color: aquamarine;
}
.amount:hover {
  background-color: blue;
  color: aquamarine;
}
.amount-1:hover {
  background-color: blue;
  color: aquamarine;
}
.amount-2:hover {
  background-color: blue;
  color: aquamarine;
}
/* footer styles */
.footer-part{
  background-color: #C6E4D6;
}
.footer-container{
  text-align: center;
  margin: 100px 80px ;
  padding: 100px 80px;
}
.footer-title{
  font-weight: bold;
  font-size: 40px;
}
.footer-description{
  font-size: 16px;
  color: rgba(14, 14, 14, 70%);
}
.last-idea-description{
  font-size: 16px;
  color: rgba(14, 14, 14, 70%);
}
.last-heading{
  text-align: center;
  padding: 64px;
}
.sign-in:hover {
  background-color: blue;
  color: aquamarine;
}
.btn-here:hover {
  background-color: blue;
  color: aquamarine;
}
/* quote styles */
.quote-description{
  
  font-size: 16px;
  color: rgba(14, 14, 14, 80%);
}
.quote{
  background-image: url("../assets/quote-bg.png");
  background-repeat: no-repeat;
  background-position: 26px 26px;
  border-style: ridge;
  padding: 32px;
  margin-top: 32px;
  border-radius: 10px;
}
.quoter-person{
  font-weight: 600;
  font-size: 20;
}
.person-designation{
  font-size: 16px;
  color: rgba(14, 14, 14, 60%);
}
